* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.5;
  font-size: 16px;
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#site-logo {
  width: 500px;
}

#site-title,
a:link,
a:active,
a:visited,
a:hover {
  color: rgb(75, 162, 222);
}

#site-title {
  font-weight: 700;
  font-size: xx-large;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#site-slogan,
#footer {
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav {
  clear: both;
  margin-top: 3em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: rgb(75, 162, 222);
}

nav .current {
  font-weight: bold;
}

#content,
#footer,
hr {
  border-top: 1px dashed #aaa;
}

#content {
  margin: 2em 0;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.article-body {
  min-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.article-body h1, .article-body h2 {
  font-size: 2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.article-body h2 {
  font-size: 1.5em;
}

.article-body h3 {
  font-size: 1.25em;
}

.article-body h4 {
  font-size: 1em;
}

.article-body h5 {
  font-size: .875em;
}

.article-body h6 {
  font-size: .85em;
  color: #6a737d;
}

.article-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border-bottom-color: #d1d5da;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table tr {
  background-color: white;
  border-top: 1px solid #c6cbd1;
}

table td, table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

code, pre, tt {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
}

code:not(pre > code) {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

.highlight table tr {
  border-top: none;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa !important;
  border-radius: 6px;
}

article p, article ol li, article ul li {
  text-align: justify;
}

article blockquote {
  font-style: italic;
  font-size: 1.05em;
  line-height: 1.5em;
}

article dl dt {
  font-weight: bold;
}

article dl dt em {
  font-weight: normal;
}

article .timestamp,
article .tags,
article .tags a:link,
article .tags a:active,
article .tags a:visited,
article .tags a:hover {
  color: #555;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

#footer {
  text-align: center;
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

.images-table, .images-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  width: 200px;
}

.card sub {
  width: 200px;
}

.card img {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 12px;
}

.images-gallery > .card, .images-gallery > .card sub {
  width: 400px;
}

.images-gallery > .card img {
  max-width: 400px;
  min-width: 400px;
}

.img-header {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 24px;
}

.glider-contain {
  width: 90%;
}

.glider .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glider .item sub {
  margin-top: 3px;
}

.image-right {
  display: block;
  margin: auto;
  text-align: center;
}

.image-flex-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.image-flex-wrapper li {
  flex-grow: 1;
  list-style-type: none;
}

.image-flex-wrapper img {
  max-height: 100%;
  min-width: 100%;
  max-width: 100px;
  object-fit: cover;
  vertical-align: bottom;
}

#wrf-baq-1km.hide > div {
	display: none;
}

#loading {
	display: table;
	margin: 4px auto;
	padding: 200px;
}

#report-data {
	margin: auto;
	max-width: 90%;
}

#report-data td {
	word-wrap: break-word;
	max-width: 50%;
	min-width: 30%;
}

.select-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
}

.select-container > label {
	margin-right: 4px;
}

.select-container > select {
	width: 300px;
}

.img-loader {
	display: flex;
  position: relative;
	margin: 4px;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	height: 600px;
	min-width: 600px;
}

.img-loader:before {
  content: " ";
	position: relative;
  left: 30%;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-color: transparent gray transparent gray;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.img-loader > img {
  width: 600px;
  height: 600px;
	z-index: 1;
}

@media (min-width: 720px) {
  .image-right {
    float: right;
    margin-left: 22px;
  }
}

@media (min-width: 992px) {
  #container {
    width: 70%;
		min-width: 950px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }
}

@keyframes loader {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}