@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i');

html,
body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#site-logo {
  width: 500px;
}

#site-title,
a:link,
a:active,
a:visited,
a:hover {
  color: rgb(75, 162, 222);
}

#site-title {
  font-weight: 700;
  font-size: xx-large;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#site-slogan,
#footer {
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav {
  clear: both;
  margin-top: 3em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: rgb(75, 162, 222);
}

nav .current {
  font-weight: bold;
}

#content,
#footer,
hr {
  border-top: 1px dashed #aaa;
}

#content {
  margin: 2em 0;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

article {
  width: 100%;
}

.article-body {
  flex: 7;
  min-width: 300px;
}

.cover {
  flex: 3;
  max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 400;
}

article p, article ol li, article ul li {
  text-align: justify;
}

article blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.05em;
  line-height: 1.5em;
}

article dl dt {
  font-weight: bold;
}

article dl dt em {
  font-weight: normal;
}

article .timestamp,
article .tags,
article .tags a:link,
article .tags a:active,
article .tags a:visited,
article .tags a:hover {
  color: #555;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}
 
img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

#footer {
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

.images-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  width: 200px;
}

.card img {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 12px;
}


@media (min-width: 620px) {
  .cover {
    margin-left: 24px;
  }
}

@media (min-width: 992px) {
  #container {
    width: 950px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }
}