<div class="glider-contain">
  <div class="glider">
    {{.Inner}}
  </div>
  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
</div>

<script>
  window.addEventListener('load', function(){
    new Glider(document.querySelector('.glider'), {
      slidesToScroll: 1,
      dots: '.dots',
      draggable: true,
      rewind: true,
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      }
    });
  })
</script>